
body {
  background-color: #000;
}

header {
  padding: 20px 24px;
  border-bottom: 1px solid #FFFFFF80;
  box-shadow: 0px 4px 8px 0px #FFFFFF33;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

header > a {
  flex-shrink: 0;
}
header > a img {
  height: 28px;
}

header > #search {
  background-color: #fff;
  padding: 10px 14px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
}

header > #search > input {
  width: 260px;
  font-family: "Roboto";
  font-size: 16px;
  border: none;
  outline: none;
}

main {
  padding: 75px 180px;
}

main > h4 {
  font-family: "Roboto";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 34px;
  line-height: 36px;
  color: #FFFFFFDE;

  margin-bottom: 48px;;
}

main > #movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;
  margin-bottom: 64px;
}

main > #movies > .movie > img {
  margin-bottom: 19px;
  border-radius: 15px;
  width: 100%;
}

main > #movies > .movie > p {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;

  margin-bottom: 13px;
}

main > #movies > .movie > div {
  display: flex;
  gap: 7px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
}

#btnMore {
  border-radius: 8px;
  background-color: #F33F3F;
  color: #fff;
  width: 100%;
  height: 60px;

  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}

#modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal > div {
  width: 1000px;
  height: 720px;
  background-color: #212122;
  border-radius: 16px;
}

#modal > div > h4 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 18px 0;
  font-weight: 600;
  border-bottom: 1px solid #F1F1F140;
}

#modal > div > button {
  float: right;
  margin-top: -56px;
  margin-right: 20px;
  background-color: #383839;
  padding: 12px 13px;
  border-radius: 50%;
}

#modal > div > div {
  padding: 50px 40px;
  display: flex;
  gap: 40px;
}

#modal > div > div > img {
  max-height: 540px;
}

#modal > div > div > div {
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

#modal > div > div > div > div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

#modal .genres-voteaverage div {
  margin-right: 16px;
}

.myVote {
  margin-top: auto;
  margin-bottom: 0 !important;
  background-color: #383839;
  padding: 1.5rem;
  border-radius: 16px;
}

.myVoteStars {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.myVoteStar {
  display: flex;
}

.myVoteStar.zero div img:nth-child(1) {
  display: none;
}

.myVoteStar.half div:nth-child(1) img:nth-child(2) {
  display: none;
}
.myVoteStar.half div:nth-child(2) img:nth-child(1) {
  display: none;
}

.myVoteStar.one div img:nth-child(2) {
  display: none;
}

.myVoteStar div:nth-child(1) {
  transform: scaleX(-1);
}




@media (max-width: 1280px) {
  main {
    padding: 64px 120px;
  }
  
  header > #search input {
    width: 200px;
  }

  main > #movies {
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  #modal > div {
    width: 800px;
    height: 580px;
  }

  #modal {
    font-size: 16px;
  }

  #modal > div > div > img {
    max-height: 400px;
  }

  #modal > div > div {
    padding: 40px 30px;
  }

  .myVoteStar img {
    height: 28px;
  }
}


@media (max-width: 900px) {
  main {
    padding: 48px 64px;
  }

  header > #search input {
    width: 160px;
  }

  main > #movies {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  #modal {
    align-items: end;
  }

  #modal > div {
    width: 100vw;
    border-radius: 0;
  }

  #modal > div > div {
    /* height: 510px; */
    height: 480px;
    overflow: scroll;
  }

  #modal > div > div > img {
    display: none;
  }
}


@media (max-width: 480px) {
  main {
    padding: 32px 16px;
  }

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  header > a {
    align-self: center;
  }

  header > #search input {
    display: none;
  }

  header.search-open {
    gap: 0;
  }

  header.search-open > a {
    display: none;
  }

  header.search-open > #search {
    width: 100%;
  }

  header.search-open > #search input {
    display: block;
    width: 100%;
  }

  main > #movies {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  
  .myVote {
    font-size: 16px;
  }
  
  .myVoteStar img {
    height: 20px;
  }
}




@supports (-webkit-appearance:none) and (stroke-color: transparent) {
    body {
        min-height: -webkit-fill-available;
    }
}